# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# ---- Virtual Environments ----
.venv/
venv/
env/
ENV/

# ---- Django ----
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot

# ---- VS Code ----
.vscode/

# ---- OS / addons ----
.DS_Store
Thumbs.db

evidence/settings.env
APP_ENV na prod.txt