{% extends "pojistenci/rozesilac/base_rozesilac.html" %}

{% block title %}Rozesílač | Dashboard{% endblock title %}

{% block rozesilac_content %}
  <h2>Dashboard</h2>
  <p>Tohle je základní stránka pro rozesílač. Jednotlivé funkce jsou v MENU vlevo, je to jednak správa jednotlivých šablon v editoru html emailů, pak správa jednotlivých kontaktů na které budeme posílat maily (už máme vytvořené i skupiny kontaktů, možné je nahrát najednou víc kontaktů přes Excel), pak stránka kde budeme opravdu managovat to samotné odesílání a pod těmi kampaněmi budou nějaké proběhlé kampaně, statistiky, chyby. Tady je zatím hovno, je tu jen tenhle text. Časem tu může být asi cokoli, třeba nějaké statistiky, poslední poslaná kampaň nebo tak něco, to je asi fuk.</p>


{% endblock rozesilac_content %}