{% extends "base.html" %}
{% load static %}

{% block title %}Úvodní strana{% endblock title %}

{% block style %}{% static "pojistenci/index.css" %}{% endblock style %}

{% block content %}
<div class="homepage-obsah">
    <h1 class="homepage-nadpis">Webová aplikace pro evidenci pojištěnců</h1> 
    <p class="homepage-popis">
        Po zaregistrování aplikace obsahuje kompletní správu (CRUD) <a href='{% url "pojistenci" %}'>pojištěných</a> (např. "Jan Novák") a jejich <a href='{% url "pojisteni-vypis" %}'>pojištění</a> (např. "pojištění bytu"). CRUD lze ale provádět i přes implementované <a href='/api/'>REST API</a>. Položka <a href='{% url "vypis-api" %}'>API</a> v menu nahoře je pak stránka, kde je jen implementované API, co tahá info z databáeze - zobrazuje tedy to samé jako stránka <a href='{% url "pojistenci" %}'>Pojištěnci</a>. Nad rámec toho jsem si vymyslel sekci <a href='{% url "vychytavky" %}'>Vychytávky</a>, kde si zkouším různé užitečné věci, co lze naprogramovat v Pythonu. Pokračujte prosím výběrem položky z MENU nahoře.
    </p>
    <ul class="homepage-seznam">
        <li>Vytvoření pojištěného</li>
        <li>Zobrazení detailu pojištěného včetně jeho pojištění</li>
        <li>Zobrazení detailu pojištění</li>
        <li>Zobrazení seznamu pojištěných</li>
        <li>Odstranění pojištěného včetně všech jeho pojištění</li>
        <li>Odstranění pojištění</li>
        <li>Editace pojištěného</li>
        <li>Editace pojištění pojištěného</li>
        <li>Dané entity jsou uloženy v SQL databázi</li>
        <li>Aplikace je naprogramována podle dobrých praktik a je plně responzivní</li>
    </ul>
</div>   
{% endblock content %}