{% extends "base.html" %}
{% load static %}

{% block title %}O aplikaci{% endblock title %}

{% block style %}{% static "pojistenci/o_aplikaci.css" %}{% endblock style %}

{% block content %}
<h1 class="nadpis">O této aplikaci</h1>
<p>Aplikace vznikla hlavně proto, abych si vyzkoušel vytváření webových aplikací v Django, práci s databází, CRUD a pak nějaké další Pythoní vychytávky, některé i celkem užitečné, které mohu využít ve svojí práci. A věřím, že ne jen já. Aplikace je zcela zdarma pro kohokoli kdo se zaregistruje.</p>
{% endblock content %}