{% extends "base.html" %}
{% load static %}

{% block title %}Vychytávky{% endblock title %}

{% block style %}{% static "pojistenci/vychytavky.css" %}{% endblock style %}

{% block content %}
<h1 class="nadpis">Různé užitečné vychytávky v Pythonu</h1>
<p>Tady bych si jenom chtěl zkoušet různé užitečné mini-programy v Pythonu. Zatím mám generování QR kódu, Donut grafu, klasického koláčového grafu (tam jsem přidal i nějaké admin funkce dostupné jen někomu), generátor hesel a Odstranění pozadí na fotce (tam je ale omezení na 50 fotek za měsíc, protože využívám externí službu, protože nechci platit za místo na disku)</p>

<div class="tiles-wrapper">

    <a href="{% url 'generate-qr' %}" class="tile">
        <div class="tile-glow"></div>
        <img src="{% static 'pojistenci/img/qr_icon.png' %}">
        <span>Generování QR kódu</span>
    </a>

    <a href="{% url 'generate-chart' %}" class="tile">
        <div class="tile-glow"></div>
        <img src="{% static 'pojistenci/img/donut_chart_icon.png' %}">
        <span>Donut graf</span>
    </a>

    <a href="{% url 'generate-pie-chart' %}" class="tile">
        <div class="tile-glow"></div>
        <img src="{% static 'pojistenci/img/pie_chart_icon.png' %}">
        <span>Koláčový graf</span>
    </a>

    <a href="{% url 'generate-grouped-bar' %}" class="tile">
        <div class="tile-glow"></div>
        <img src="{% static 'pojistenci/img/grouped_chart_icon.png' %}">
        <span>Skupinový graf</span>
    </a>

    <a href="{% url 'remove-background' %}" class="tile">
        <div class="tile-glow"></div>
        <img src="{% static 'pojistenci/img/remove_background.png' %}">
        <span>Odstranění pozadí</span>
    </a>

    <a href="{% url 'password-generator' %}" class="tile">
        <div class="tile-glow"></div>
        <img src="{% static 'pojistenci/img/password_generator_icon.png' %}">
        <span>Generátor hesel</span>
    </a>

</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".tile").forEach(tile => {
        
        const glow = tile.querySelector(".tile-glow");
        
        tile.addEventListener("mousemove", e => {
            const rect = tile.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            glow.style.left = x + "px";
            glow.style.top = y + "px";
            glow.style.opacity = "1";
        });

        tile.addEventListener("mouseleave", () => {
            glow.style.opacity = "0";
        });
    });
});
</script>


{% endblock content %}