{% extends "base.html" %}
{% load static %}

{% block title %}Vychytávky{% endblock title %}

{% block style %}{% static "pojistenci/vychytavky.css" %}{% endblock style %}

{% block content %}
<h1 class="nadpis">Různé užitečné vychytávky v Pythonu</h1>
<p>Tady bych si jenom chtěl zkoušet různé užitečné mini-programy v Pythonu. Zatím mám generování QR kódu a Donut grafu + Odstranění pozadí na fotce (tam je omezení na 50 fotek za měsíc)</p>

<div class="tiles-wrapper">

    <a href="{% url 'generate-qr' %}" class="tile">
        <img src="{% static 'pojistenci/img/qr_icon.png' %}">
        <span>Generování QR kódu</span>
    </a>

    <a href="{% url 'generate-chart' %}" class="tile">
        <img src="{% static 'pojistenci/img/donut_chart_icon.png' %}">
        <span>Donut graf</span>
    </a>

    <a href="{% url 'remove-background' %}" class="tile">
        <img src="{% static 'pojistenci/img/remove_background.png' %}">
        <span>Odstranění pozadí</span>
    </a>

</div>


{% endblock content %}