.login-container {
    width: 450px;
    margin: 80px auto;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.login-container > p {
    width: 100%;
    margin: 0 auto 30px;
    margin-top: 15px;
    
    

    /* Vzhled bloku */
    padding: 12px 16px;
    background-color: #eaf4ff;           /* jemné světlé pozadí ladící s paginator */
    border-left: 4px solid #1976d2;      /* modrá linka pro vizuální oddělení */
    border-radius: 4px;

    /* Text */
    font-style: italic;
    color: #555;
    line-height: 1.4;
    text-align: center;
}
.login-container > p > a {
    color: #1976d2;
    font-weight: 600;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}
.login-container > p > a:hover {
    background-color: #d0e9ff;
}


form {
    position: relative;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
    outline: none;
}

.form-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    background-color: white;
    padding: 0 4px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #1976d2;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #115293;
}

.form-error {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ef9a9a;
    border-radius: 4px;
    font-weight: bold;
}

/* Styl pro chybové hlášky */
.errorlist {
    margin-top: 6px;
    margin-bottom: 15px;
    padding-left: 0;
    color: #d32f2f;  /* tmavě červená */
    font-weight: 500;
    list-style-type: none;
    font-size: 0.95rem;
}

.errorlist li {
    background-color: #fdecea;  /* světle červené pozadí */
    border: 1px solid #f5c6cb;
    padding: 8px 12px;
    border-radius: 4px;
}

.prihlaseni_registrace li.aktivni_prihlaseni a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    bottom: -4px;
    left: 0;
}