.menu li.aktivni_pojisteni a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    bottom: -4px;  /* TADY přidáme mezeru */
    left: 0;
}

.nadpis {
    text-align: center;
    margin: 35px 0;
    font-size: 26px;
    color: #333;
}

.formular {
    max-width: 600px;
    margin: 0 auto 40px auto;
    background-color: #f9f9f9;
    padding: 25px 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.formular label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

.formular input,
.formular select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formular input:focus,
.formular select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, .5);
}

.btn.submit-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.submit-btn:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
