.menu li.aktivni_o_aplikaci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    bottom: -4px;
    left: 0;
}

.nadpis {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #333;
}

p {
    /* Zarovnáme ke stejnému centru jako tabulku + omezíme šířku */
    width: 90%;
    margin: 0 auto 30px;   /* nahoře 0, dole 30px mezera od tabulky */
    
    /* Vzhled bloku */
    padding: 12px 16px;
    background-color: #eaf4ff;           /* jemné světlé pozadí ladící s paginator */
    border-left: 4px solid #1976d2;      /* modrá linka pro vizuální oddělení */
    border-radius: 4px;
    
    /* Text */
    font-style: italic;
    color: #555;
    line-height: 1.4;
    text-align: center;
}